@import "tailwindcss";
/* 🌙 Dark Theme */
body.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  /* ☀️ Light Theme */
  body.light {
    background-color: #ffffff;
    color: #000000;
  }
  